# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Raw datasets
data/raw/

# Ignore other processed data files
data/processed/*
!data/processed/laptop_selected.csv

LaptopWise_Insights_Notes.ipynb